<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/back.css">
    <title>Kesy | Login-Register</title>
</head>

<body>
    <div id="app">
        <section id="logres">

            <div id="log-res" class="container d-flex justify-content-center align-items-center">
                <div class="card">

                    <div class="card-body">
                        <h1>Kayıt Ol</h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı</label>
                            <input type="text" name="username" v-model="user.username" class="form-control"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Adresi</label>
                            <input type="email" name="email" v-model="user.email" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small class="form-text text-muted">We'll never share your email with
                                anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Parola</label>
                            <input name="password" type="password" v-model="user.password" class="form-control"
                                id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <p>Zaten bir hesabın varsa giriş yapmak için <a href="/login">tıkla.</a></p>
                        </div>
                        <div v-if="error.toggle">
                            <div class="alert alert-danger" v-for="item in error.data" role="alert">
                                %{item.desc}
                            </div>
                        </div>

                        <button @click="postIt" class="btn btn-primary">Kayıt ol</button>

                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/bundle.js"></script>
</body>

</html>