@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    
}
body{
    font-family: 'Rubik', sans-serif;
    color:#001240;
    
}


h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width: 800px) {
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
.curved {
    position: relative;
    background: linear-gradient(to bottom,#0c152e,#101c3d);
    
    height: 50vh;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
  }

.curved h2
{
  color:#ffffff;
}

.greyBack{
    background-color: #eeeeee;
}
.bdr{
    border: 4px solid transparent;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    
}
.card{
    box-shadow: 0 22px 24px rgba(49, 51, 57, 0.2);
    transition: ease .22s;
}
.card:hover {
  transform: translateY(-10px);
}
.badge-warning{
  background-color: #ffe883;
  color:#c0a634;
  padding: 7px;
}
.badge-danger{
  color:#eca2aa;
  
  padding: 7px;
}
.card-body p{
  font-weight: 400;
  color: #687992;
  letter-spacing: .12px;
}
p{
  font-weight: 400;
  color: #687992;
  letter-spacing: .12px;
}
.searchbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
i{font-size: 24px;}

#conbiLink{
  font-weight: 300;
  
}
  